@model IEnumerable<ECommerceStore.Models.BasketItem>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Basket";
}

<h1>Basket</h1>

<div class="container col-12 border p-3">
    <table id="Basket" class="table table-bordered " style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-content-center">@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td><a href="~/Basket/Delete?id=@item.ProductId" class="btn btn-primary btn-block">Delete</a></td>
                </tr>
            }
        </thead>
    </table>
</div>
<div class="container">
    <div class="row justify-content-end">
            @if (SignInManager.IsSignedIn(User))
            {
                 <div class="col-2">
                     <a asp-action="Checkout" asp-controller="Basket" class="btn btn-info form-control text-white">Checkout</a>
                 </div>
            }else
	        {
                <div class="col-2">
                    <p class="text-warning">Log in required</p>
                </div>
                <div class="col-2">
                    <a asp-action="Checkout" asp-controller="Basket" class="btn btn-info form-control text-white disabled">Checkout</a>

                </div>
	           
	        }
    </div>
</div>