@model IEnumerable<ECommerceStore.Models.Product>
@{
    ViewData["Title"] = "Catalog";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our shop</h1>
</div>
<div class="col-12 border p-3">
    <table id="Catalog" class="table table-bordered " style="width:100%">
        <thead>
            <tr>
                <th><p class="text-center">Name</p></th>
                <th><p class="text-center">Company</p></th>
                <th><p class="text-center text">Price</p></th>
                <th></th>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td><p class="text-center">@product.Name</p></td>
                    <td><p class="text-center">@product.Company</p></td>
                    <td><p class="text-center">@product.Price</p></td>
                    <td><a href="~/Home/Buy/@product.Id" class="btn btn-primary btn-block">Buy</a></td>
                </tr>
            }
        </thead>
    </table>
</div>

